.main {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;
}

.scrollWrap {
    display: flex;
    flex-flow: wrap;
    overflow: auto;
    height: 440px;
    max-width: 535px;
    gap: 10px;
    padding-left: 40px;
}
