.main {
    display: flex;
    margin-right: 380px;
    margin-top: 120px;
}

.header {
    margin-bottom: 0px;
}

.colLeft {
    width: 320px;
}

.colRight {
    width: 480px;
}

.info {
    opacity: 0.4;
}

.link {
    padding-top: 25px;
}

.rawLink {
    cursor: pointer;
}

.buttons {
    justify-content: center;
    display: flex;
}
