.container {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 30001;
    pointer-events: none;
}

.window {
    background: #1C1C21;
    border: 1px solid rgba(76, 76, 255, 0.2);
    box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 40px;
    position: relative;
    pointer-events: all;
    overflow: auto;
}

.closeIcon {
    position: absolute;
    right: 0px;
    top: 0px;
    cursor: pointer;
}

.body {
    flex: 1;
    display: flex;
    flex-flow: column;
    align-items: center;
}
