.app {
  background-color: #131316;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.li-menu-item {
  list-style: none;
  align-items: center;
  display: flex;
}

.li-menu-item > text {
  margin-left: 9px;
}
.main {
  width: 1240px;
}
.main > .container {
  display: flex;
  justify-content: space-between;
}
ul {
  margin: 0px;
  padding: 0px;
}

.constructor-element {
  background-color: #1C1C21 !important;
}

.scroller::-webkit-scrollbar { width: 8px; height: 8px}
.scroller::-webkit-scrollbar-button {  background-color: transparent; width: 0px; height: 0px }
.scroller::-webkit-scrollbar-track {  background-color: transparent; }
.scroller::-webkit-scrollbar-corner { background-color: transparent;}
.scroller::-webkit-resizer { background-color: transparent;}
.scroller::-webkit-scrollbar-track-piece, .scroller::-webkit-scrollbar-track-piece:start, .scroller::-webkit-scrollbar-track-piece:end {
  background: transparent;
}
.scroller::-webkit-scrollbar-thumb { height: 50px; background-color: #8585AD; border-radius: 3px;}

