.item {
    list-style: none;
    position: relative;
    display: flex;
    flex: 1;
}
.drag {
    position: absolute;
    left: -25px;
    top: 30px;
}

.defaultText {
    display: block;
    margin: 25px 170px;
    color: #8585AD;
}
